


body {
    background-color: #cfe0eb;
    font-family: "Segoe UI", Tahoma, sans-serif;
}
.tabel-aspirasi th{
    background-color: rgb(18, 62, 255) ;
}
h3 {
    font-weight: 600;
    color:rgb(18, 62, 255); 
}

.table-responsive {
    background: rgb(18, 62, 255);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.08);
}

.table {
    margin-bottom: ;
}

.table thead {
    background: #f3f3f3;
    color: rgb(255, 255, 255);
}

.table thead th {
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.table tbody td {
    vertical-align: middle;
    font-size: 14px;
}

.table tbody tr:hover {
    background-color: #003feb;
    transition: 0.4s;
}

.badge {
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .table-responsive {
        width: 100%;
        padding: 10px;
    }

   
}
.table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 0px;
    border-color: rgb(5, 50, 253);
}