    body {
            background: #f4f6f9;
            font-family: 'Segoe UI', sans-serif;
        }

        .card-custom {
            max-width: 800px;
            margin: 50px auto; /* bikin card ke tengah */
            border-radius: 15px;
            box-shadow: 0 6px 20px rgba(0,0,0,0.1);
            text-align: center;
        }

        .card-header {
            background: linear-gradient(135deg, #0d6efd, #0b5ed7);
            color: white;
            border-radius: 15px 15px 0 0;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }

        table {
            text-align: center;
        }

        thead {
            background:  linear-gradient(135deg, #0d6efd, #0b5ed7);
            color: white;
            
        }

        tbody tr:hover {
            background-color: #f1f5ff;
            transition: 0.2s;
        }
          body {
            background: #f4f6f9;
        }

        .card-custom {
            max-width: 700px;
            margin: 60px auto;
            border-radius: 12px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.15);
        }

        table {
            text-align: center;
        }
        td {
            width: 1100px;
        }