/* RESET */

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

/* CONTAINER FORM */
.form-aspirasi {
    max-width: 600px;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* JUDUL */
.form-aspirasi h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* LABEL */
.form-aspirasi label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #444;
}

/* INPUT & SELECT */
.form-aspirasi input,
.form-aspirasi select,
.form-aspirasi textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #0134da;
    outline: none;
    margin-bottom: 15px;
    transition: 0.3s;
    font-size: 14px;
}

/* FOCUS */
.form-aspirasi input:focus,
.form-aspirasi select:focus,
.form-aspirasi textarea:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

/* BUTTON */
.form-aspirasi button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #4f46e5;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.form-aspirasi button:hover {
    background: #3730a3;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .form-aspirasi {
        padding: 20px;
    }
}
