/* ===== GLOBAL ===== */
body {
    background-color: #a1badf;
    font-family: "Segoe UI", Tahoma, sans-serif;
    color: #070000;
}

.container {
    width: 100%;
    height: 508px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ===== JUDUL ===== */
h3 {
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    margin-top: 100px;
}

/* ===== TABEL ===== */
.tabel-aspirasi {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(233, 224, 224, 0.08);
}

.tabel-aspirasi thead {
    background-color: #496bda;
}

.tabel-aspirasi th {
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px;
}

.tabel-aspirasi td {
    font-size: 14px;
    padding: 10px;
    vertical-align: middle;
}

/* Hover baris */
.tabel-aspirasi tbody tr:hover {
    background-color: #f9fafb;
}

/* ===== TOMBOL ===== */
.btn-edit {
    background-color: #8fbae5;
    color: #333;
    border: 1px solid #5998d6;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
}

.btn-edit:hover {
    background-color: #dee2e6;
    color: #000;
}

.btn-delete {
    background-color: #ebc2c5;
    color: #842029;
    border: 1px solid #f1aeb5;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 4px;
    transition: 0.2s;
}

.btn-delete:hover {
    background-color: #f5c2c7;
    color: #842029;
}

.input-tanggal {
    font-size: 15px;
    border-radius: 8px;
    padding: 4px 10px;
    width: 150px;
    background-color: #4F6EDB;
    color: #ffffff;
    margin-bottom: 5px;
    border: 1px solid #4F6EDB;
    height: 20px;
    
}

.nama-kategori {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 8px;
    padding: 4px 10px;
    width: 150px;
    background-color: #4F6EDB;
    color: #ffffff;
    border: 1px solid #4F6EDB;
    
}

.nis {
    font-size: 15px;
    border-radius: 8px;
    padding: 4px 10px;
    width: 150px;
    background-color: #4F6EDB;
    color: #ffffff;
    border: 4px solid #4F6EDB;
}

.nis::placeholder {
    color: #ffffff;
    opacity: 1;

}

.button-filter {
    background-color: #4F6EDB;
    color: #fff;
    border-radius: 8px;
    padding: 6px 16px;
    border: 3px solid #4F6EDB;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {

    .tabel-aspirasi th,
    .tabel-aspirasi td {
        font-size: 12px;
    }

    h3 {
        font-size: 18px;
    }

}